Repository kilip/ansible-collection-workstation, changes with the labels that .github/labeler.yaml gives for each.
All labels: github, tests, plugins, role/brew, role/build, role/desktop, role/development, role/base, role/shell, role/user

.github/labeler.yaml:

---
github:
  - ".github/**/*"
tests:
  - "molecule/**/*"
plugins:
  - "plugins/**/*"
role/brew:
  - "roles/brew/**/*"
role/build:
  - "roles/build/**/*"
role/desktop:
  - "roles/desktop/**/*"
role/development:
  - "roles/development/**/*"
role/base:
  - "roles/base/**/*"
role/shell:
  - "roles/shell/**/*"
role/user:
  - "roles/user/**/*"

cleaned up empty preflight tasks
  roles/brew/tasks/preflight.yml
  roles/brew/tasks/setup.yml
  roles/build/defaults/main.yml
  roles/development/tasks/preflight.yml
  roles/shell/tasks/preflight.yml
Labels: role/brew, role/build, role/development, role/shell

removed unused playbooks
  playbooks/build.yml
  playbooks/deps.yml
Labels: none

enable ansible lint
  .vscode/settings.json
Labels: none

added brew remote git source config
  molecule/default/molecule.yml
  molecule/default/playbook-converge.yml
  roles/base/defaults/main.yml
  roles/brew/defaults/main.yml
  roles/brew/tasks/setup.yml
  roles/brew/vars/config-Debian.yml
Labels: tests, role/brew, role/base

fix brew shell init script
  roles/brew/tasks/setup.yml
  roles/brew/templates/config.fish.j2
Labels: role/brew

improved brew, pyenv, phpbrew shell hook, ref #18
  roles/base/defaults/main.yml
  roles/brew/defaults/main.yml
  roles/brew/tasks/facts.yml
  roles/brew/tasks/post-build.yml
  roles/brew/tasks/setup.yml
  roles/brew/tasks/shell.yml
  roles/brew/templates/config.fish.j2
  roles/build/defaults/main.yml
  roles/development/tasks/phpbrew/setup.yml
  roles/development/tasks/pyenv/configure.yml
  roles/development/tasks/pyenv/setup.yml
  roles/development/tasks/vagrant/setup-Debian.yml
  roles/development/tasks/vagrant/setup.yml
  roles/shell/defaults/main.yml
  roles/shell/tasks/config/bash.yml
  roles/shell/tasks/configure/bash.yml
  roles/shell/tasks/configure/fish.yml
  roles/shell/tasks/configure/zsh.yml
  roles/shell/tasks/main.yml
  roles/shell/tasks/post-build.yml
  roles/user/tasks/preflight.yml
Labels: role/brew, role/build, role/development, role/base, role/shell, role/user

added verify and validate tags
  roles/brew/defaults/main.yml
  roles/brew/tasks/main.yml
  roles/brew/tasks/setup.yml
  roles/build/defaults/main.yml
  roles/build/tasks/main.yml
  roles/desktop/tasks/main.yml
  roles/dev/README.md
  roles/dev/defaults/main.yml
  roles/dev/tasks/facts.yml
  roles/dev/tasks/main.yml
  roles/dev/tasks/phpbrew/facts.yml
  roles/dev/tasks/phpbrew/setup.yml
  roles/dev/tasks/pyenv/configure.yml
  roles/dev/tasks/pyenv/facts.yml
  roles/dev/tasks/pyenv/install.yml
  roles/dev/tasks/pyenv/setup.yml
  roles/dev/tasks/vagrant/setup-Debian.yml
  roles/dev/tasks/vagrant/setup.yml
  roles/dev/tasks/virtualbox/setup-Debian.yml
  roles/dev/tasks/virtualbox/setup.yml
  roles/dev/tasks/vscode/setup-Debian.yml
  roles/dev/tasks/vscode/setup-RedHat.yml
  roles/dev/tasks/vscode/setup.yml
  roles/dev/templates/bash.phpbrew.j2
  roles/dev/templates/phpbrew.init.j2
  roles/dev/vars/phpbrew/Debian-11.yml
  roles/dev/vars/phpbrew/Ubuntu-22.yml
  roles/dev/vars/pyenv/Debian.yml
  roles/development/README.md
  roles/shell/tasks/configure/bash.yml
  roles/shell/tasks/configure/fish.yml
  roles/shell/tasks/configure/zsh.yml
  roles/shell/tasks/main.yml
  roles/shell/tasks/omf/setup.yml
  roles/user/tasks/chezmoi/setup.yml
  roles/user/tasks/facts.yml
  roles/user/tasks/validate.yml
Labels: role/brew, role/build, role/desktop, role/development, role/shell, role/user

improved tasks name
  roles/base/tasks/facts.yml
  roles/base/tasks/main.yml
  roles/base/tasks/proxy/cert.yml
  roles/base/tasks/proxy/repo-Debian.yml
  roles/base/tasks/proxy/repo-RedHat.yml
  roles/base/tasks/proxy/setup.yml
  roles/base/tasks/validate.yml
  roles/user/tasks/facts.yml
  roles/user/tasks/main.yml
  roles/user/tasks/preflight.yml
Labels: role/base, role/user

fix typos
  roles/build/tasks/main.yml
  roles/dev/tasks/facts.yml
Labels: role/build

added block marker config
  roles/base/tasks/proxy/setup.yml
  roles/brew/tasks/post-build.yml
  roles/brew/tasks/setup.yml
  roles/brew/templates/config.fish.j2
  roles/brew/vars/config-RedHat.yml
  roles/dev/tasks/phpbrew/setup.yml
  roles/dev/tasks/pyenv/configure.yml
  roles/dev/tasks/pyenv/setup.yml
  roles/dev/tasks/virtualbox/setup-Debian.yml
  roles/dev/tasks/vscode/setup-Debian.yml
  roles/dev/tasks/vscode/setup.yml
  roles/shell/defaults/main.yml
  roles/shell/tasks/configure/bash.yml
  roles/shell/tasks/configure/fish.yml
  roles/shell/tasks/configure/zsh.yml
Labels: role/brew, role/base, role/shell

fix ci config
  molecule/default/host_vars/instance.yml
Labels: tests
